<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>87130791879-vhjaia7nglgbse88eer2lppdslhsspsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87130791879-vhjaia7nglgbse88eer2lppdslhsspsq</string>
	<key>API_KEY</key>
	<string>AIzaSyA43nwR7iHzJxSMYh6BV8OXC36bK4COF8g</string>
	<key>GCM_SENDER_ID</key>
	<string>87130791879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dpslink.firebasenotificationdemo</string>
	<key>PROJECT_ID</key>
	<string>fir-notification-demo-d4d09</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notification-demo-d4d09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87130791879:ios:7e00fd23a7465666</string>
	<key>DATABASE_URL</key>
	<string>https://fir-notification-demo-d4d09.firebaseio.com</string>
</dict>
</plist>